:root {

    /*
        Mobile Screen Size: 375px;
        Desktop Screen Size: 1440px; 
    */

    /* Neutral Colors */
    --clr-neutral-almost-white: hsl( 0, 0%, 98% );
    --clr-neutral-medium-gray: hsl( 0, 0%, 41% );
    --clr-neutral-almost-black: hsl( 0, 0%, 8% );

    /* Font Size Paragraphs */
    --fs-p: 1.125rem;

    /* Font Family */
    --ff: 'Epilogue', sans-serif;

    /* Font Weights */
    --fw-500: 500;
    --fw-700: 700;
}


/* CSS RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* 
  Typographic tweaks!
  - Add accessibility Line-Height
  - Improve yexy rendering
*/

body {
 line-height: 1.7;
 -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
 display: block;
 max-width: 100%;
}

/* Remove built in form typography */

input,
button,
textarea,
select {
 font: inherit;
}

/* Avoid text overflow */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
 overflow-wrap: break-word;
}


.wrapper {
    height: 100vh;
}

.wrapper--content {
    height: 100%;
    max-width: 100%;
}


.content {
    font-family: var(--ff);
    margin-top: 5rem;
}

.content > h1 {
    color: var(--clr-neutral-almost-black);
    font-weight: var(--fw-700);
}

.content > p {
    color: var(--clr-neutral-medium-gray);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: var(--fs-p);
}

.content--link {
    background-color: var(--clr-neutral-almost-black);
    display: inline;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.content--link > a {
    color: var(--clr-neutral-almost-white);
    text-decoration: none;
    font-weight: var(--fw-700);
}

.partner {
    height: 28%;
    margin-bottom: 10rem;
}


/* @media only screen and ( min-width: 769px ) {
    .content > h1 {
        font-size: 0.2rem;
        border: 2px solid red;
    }
} */


@media only screen and ( min-width: 768px ) {
    .content {
        max-width: 75%;
    }

    .content > h1 {
        font-size: 4.4rem;
    }

    .content--section {
        height: 60%;
    }
}
